<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.2-alpha" targetFramework="net462" />
  <package id="Accord.Video" version="3.8.2-alpha" targetFramework="net462" />
  <package id="Accord.Video.FFMPEG" version="3.8.2-alpha" targetFramework="net462" />
  <package id="ControlzEx" version="4.0.0-alpha0189" targetFramework="net462" />
  <package id="DynamicLanguageRuntime" version="1.2.2" targetFramework="net471" />
  <package id="Expression.Blend.Sdk.WPF" version="1.0.1" targetFramework="net462" />
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net462" />
  <package id="Fluent.Ribbon" version="7.0.0-alpha0456" targetFramework="net462" />
  <package id="FluentWPF" version="0.4.1" targetFramework="net462" />
  <package id="Gu.Wpf.Media" version="0.5.0.2" targetFramework="net462" />
  <package id="IronPython" version="2.7.9" targetFramework="net471" />
</packages>