<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge.Core" version="16.3.2" targetFramework="net461" />
  <package id="Bridge.Html5" version="16.3.2" targetFramework="net461" />
  <package id="Bridge.Min" version="16.3.2" targetFramework="net461" />
  <package id="Granular" version="0.3.0" targetFramework="net461" />
</packages>